.header {
  display: flexbox;
  height: 25vh;
  margin: 0px 0px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.div1 {
  height: 50vh;
  width: 100%;
  background: linear-gradient(0deg, #FFFFFF 3.01%, #F9F9F9 3.97%, #C5C5C5 11.67%, #969696 19.38%, #6E6E6E 28.04%, #4C4C4C 36.71%, #303030 45.37%, #1B1B1B 55.96%, #0C0C0C 66.55%, #030303 80.03%, #000000 100%);
  transform: rotate(180deg);
  z-index: 1000;
}

.div2 {
  background-color: #000000;
}
.division2{
  background-color: #000000;
  opacity: 0.2;
}
.box {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.download{
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  opacity: 0.5;
}

.navbar-toggler{
  padding: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  background: linear-gradient(0deg, #FFFFFF 3.01%, #F9F9F9 3.97%, #C5C5C5 11.67%, #969696 19.38%, #6E6E6E 28.04%, #4C4C4C 36.71%, #303030 45.37%, #1B1B1B 55.96%, #0C0C0C 66.55%, #030303 80.03%, #000000 99.28%);
  width: 100%;
}

ion-icon:hover {
  color: black;
}

ion-icon {
  font-size: 20px;
  margin: 0vh 0vw;
  padding: 1vh 1vw;
  color: gray;
  transition: 0.2s;
  text-decoration: none;
}

.socialmedia {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center
}

.socialmedia li {
  list-style: none;
  display: inline-block;
}

.socialmedia ul {
  display: flex;
  margin: 0vh 0vw;
  padding: 0vh 0vw;
  justify-content: center;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.buttons button {
  margin: 0vh 3vw;
  height: 8vh;
  width: 8vw;
}

.slider {
  background-color: bisque;
  width: 80vw;
}


/* .button {
  background-color: white;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
} */
.btn {
  padding: 1em 2.1em 1.1em;
  border-radius: 3px;
  margin: 8px 8px 8px 8px;
  color: #fbdedb;
  background-color: #fbdedb;
  display: inline-block;
  background: #e74c3c;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: .85em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  position: relative;
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
}

.btn:active {
  -webkit-transform: scale(0.80);
  -moz-transform: scale(0.80);
  -ms-transform: scale(0.80);
  -o-transform: scale(0.80);
  transform: scale(0.80);
}

.btn.block {
  display: block !important;
}

.btn.circular {
  border-radius: 50em !important;
}

.gray {
  color: black;
  background-color: #d2d2d2;
}

/* page-3 */
.page-3slider {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Fira Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;


}

.box2 {
  background-color: #000000;
  /* height: 60vh; */
  z-index: 999999;

}

@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  -webkit-box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}

.blog-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .blog-slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>* {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(1) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(2) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(3) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(4) {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(5) {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(6) {
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(7) {
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(8) {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(9) {
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(10) {
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(11) {
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(12) {
  -webkit-transition-delay: 1.4s;
  transition-delay: 1.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(13) {
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(14) {
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(15) {
  -webkit-transition-delay: 1.7s;
  transition-delay: 1.7s;
}

.blog-slider__img {
  width: 300px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  -webkit-box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
  border-radius: 20px;
  -webkit-transform: translateX(-80px);
  transform: translateX(-80px);
  overflow: hidden;
}

.blog-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  border-radius: 20px;
  opacity: 0;
}

.blog-slider__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .blog-slider__img {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }
}

.blog-slider__content {
  padding-right: 25px;
}

@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}

@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}

.blog-slider__content>* {
  opacity: 0;
  -webkit-transform: translateY(25px);
  transform: translateY(25px);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}

.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}

.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}

.blog-slider__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  -webkit-box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}

.blog-slider .swiper-container-horizontal>.swiper-pagination-bullets,
.blog-slider .swiper-pagination-custom,
.blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}

.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fd3838;
  height: 30px;
  -webkit-box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}

.carousel-item {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.carousel-item > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-inner {
  height: 25rem;
}
@media screen and (max-width: 1080px) {
  .carousel-inner {
    height: 20rem;
  }
  .box{
    width: 95%;
  }
}
@media screen and (max-width: 768px) {
  .carousel-inner {
    height: 15rem;
  }
  .box{
    width: 98%;
  }
}